.main-map{
	width: 600px;
	height: 600px;
}
.point{
	fill: white;
	stroke: black;
}
.point-text {
	font-size: 12px ;
	font-family: SimSun;
	fill:#000;
}
.line{
	stroke: #ccc;
}
.line-text {
	font-size: 12px ;
	font-family: SimSun;
	fill:#0000FF;
	fill-opacity:0.0;
}
