body text{
	font: caption;
}
.main-chart{
	width: 800px;
	height: 750px;
}
.node-point{
	fill: white;
	stroke: black;
}
.node-text {
	fill: black;
}
.node-attr-rect{
	fill: white;
	stroke: black;
}
.link-line{
	stroke: black;
}
.link-text,.link-value {
	fill: black;
}
.link-text-box{
	fill: white;
}
